use flake "github:abayomi185/nix-dev-templates?dir=node&rev=ef784f29fa1a130e7e58f72dee409f5f4d0d1baa"
use flake "github:abayomi185/nix-dev-templates?dir=go&rev=ef784f29fa1a130e7e58f72dee409f5f4d0d1baa"
